<div class="card hello-card card-frame card-frame-light dark:card-frame-dark card-bg-light dark:card-bg-dark">
    <div class="flex flex-col justify-between gap-4 md:flex-row">
        <div class="flex flex-row items-center gap-2">
            <svg class="h-10 w-10 text-violet-800 md:block">
                <use href="/assets/svg/sprite.svg#box" />
            </svg>
            <div class="flex flex-col">
                <p class="text-xl font-bold md:text-2xl">Hi there, I'm {{ main.name }}</p>
                <p class="text-lg text-gray-600 dark:text-gray-500">{{ main.profession }}</p>
            </div>
        </div>
        <div class="flex flex-row items-center gap-4">
            <a class="card-link" href="{{social.twitter}}" rel="noreferrer" target="_blank">
                <svg class="h-8 w-8 text-gray-800 dark:text-gray-200">
                    <use href="/assets/svg/sprite.svg#twitter" />
                </svg>
            </a>
            <a class="card-link" href="{{social.linkedin}}" rel="noreferrer" target="_blank">
                <svg class="h-8 w-8 text-gray-800 dark:text-gray-200">
                    <use href="/assets/svg/sprite.svg#linkedin" />
                </svg>
            </a>
            <a class="card-link" href="{{social.github}}" rel="noreferrer" target="_blank">
                <svg class="h-8 w-8 text-gray-800 dark:text-gray-200">
                    <use href="/assets/svg/sprite.svg#github" />
                </svg>
            </a>
        </div>
    </div>
    <div class="mt-4 flex flex-col justify-between md:mt-10">
        <h1 class="text-xl md:text-3xl">{{ cards.hello.title }}</h1>
        <p class="mt-4 text-lg text-gray-600 dark:text-gray-500 md:mt-10 md:text-2xl">{{ cards.hello.description }}</p>
    </div>
</div>
