<div class="card w-full max-w-[640px] h-[28rem] max-h-[80vh]">
    <div class="relative flex items-center justify-center h-full w-full overflow-hidden">
        <div class="slides-container relative overflow-hidden flex flex-1 flex-col h-full w-full">
            <div class="w-full p-4 absolute top-0 left-0 z-10 flex flex-col gap-1">
                <div class="flex flex-row text-sm sm:text-base">
                    <span class="h-5 sm:h-6 inline-flex px-2 bg-purple-950 text-stone-100">
                        <svg class="h-3 w-3 sm:h-4 sm:w-4 m-auto">
                            <use href="/assets/svg/sprite.svg#folder" />
                        </svg>
                        <span class="ml-1">~/W/</span>
                        <span>{{ main.author }}</span>
                    </span>
                    <span class="h-5 sm:h-6 inline-flex px-2 bg-stone-400 text-stone-950">
                        <span>on main</span>
                    </span>
                    <span class="card-arrow" />
                </div>
                <div class="flex items-center gap-x-2">
                    <a href="/">
                        <svg class="h-5 w-5 text-stone-800 dark:text-stone-200 sm:h-8 sm:w-8">
                            <use href="/assets/svg/sprite.svg#chevron-right" />
                        </svg>
                    </a>
                    <div class="flex flex-row items-center">
                        <div class="card-title flex items-center">
                            <h3 class="text-sm font-bold text-stone-800 dark:text-stone-200 sm:text-2xl">
                                {{ main.name }}
                            </h3>
                            <span class="text-sm text-stone-600 dark:text-stone-400 sm:text-2xl mr-2">,</span>
                            <h3 class="text-sm text-stone-600 dark:text-stone-400 sm:text-2xl">
                                {{ main.profession }}
                            </h3>
                        </div>
                        <span class="text-black dark:text-white card-cursor text-sm sm:text-2xl ml-1">|</span>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-4 mt-2 ml-4 sm:ml-8">
                    <a class="card-link" href="{{social.twitter}}" rel="noreferrer" target="_blank">
                        <svg class="h-6 w-6">
                            <use href="/assets/svg/sprite.svg#twitter" />
                        </svg>
                    </a>
                    <a class="card-link" href="{{social.linkedin}}" rel="noreferrer" target="_blank">
                        <svg class="h-6 w-6">
                            <use href="/assets/svg/sprite.svg#linkedin" />
                        </svg>
                    </a>
                    <a class="card-link" href="{{social.github}}" rel="noreferrer" target="_blank">
                        <svg class="h-6 w-6">
                            <use href="/assets/svg/sprite.svg#github" />
                        </svg>
                    </a>
                    <a class="card-link" href="{{social.telegram}}" rel="noreferrer" target="_blank">
                        <svg class="h-6 w-6">
                            <use href="/assets/svg/sprite.svg#send" />
                        </svg>
                    </a>
                    <a class="card-link" href="{{social.email}}" rel="noreferrer" target="_blank">
                        <svg class="h-6 w-6">
                            <use href="/assets/svg/sprite.svg#at-sign" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="relative h-full w-full overflow-visible z-0">
                {% for job in jobs %}
                <div class="card-slide">
                    <div class="pl-6 sm:pl-10 flex w-full flex-row items-start gap-2">
                        <div class="flex flex-col">
                            <h3 class="text-sm sm:text-base">{{job.company}}</h3>
                            <span class="text-sm sm:text-base text-gray-400 dark:text-stone-500">{{job.location}}</span>
                        </div>
                        <img alt="Avatar" class="card-logo" loading="lazy" src="{{job.company_logo}}" />
                    </div>
                    <div class="pl-6 sm:pl-10 mt-2 flex flex-col gap-2 md:flex-row">
                        <p class="text-sm sm:text-lg">{{job.position}}</p>
                        <div class="card-chip mb-2 text-stone-200">
                            <span class="col-start-1 col-end-2">{{job.start}}</span>
                            <apan> - </apan>
                            <span class="col-start-1 col-end-2">{{job.end}}</span>
                        </div>
                    </div>
                    <p class="text-sm sm:text-base pl-6 sm:pl-10 mt-3 text-stone-600 dark:text-stone-400">
                        {{job.subtitle}}
                    </p>
                </div>
                {% endfor %}
            </div>
            <div class="p-4 absolute bottom-0 right-0 z-10 flex flex-row items-end justify-end gap-2">
                <button id="prevButton" class="card-button" type="button" aria-label="Prev slide">
                    <svg class="h-7 w-7">
                        <use href="/assets/svg/sprite.svg#chevron-left" />
                    </svg>
                </button>
                <button id="nextButton" class="card-button" type="button" aria-label="Next slide">
                    <svg class="h-7 w-7">
                        <use href="/assets/svg/sprite.svg#chevron-right" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    gsap.registerPlugin(Draggable);
    gsap.set(".card-slide", {
        xPercent: (i) => i * 100,
    });

    let prevButton = htmx.find("#prevButton");
    let nextButton = htmx.find("#nextButton");

    let slideDelay = 1.5;
    let slideDuration = 0.3;
    let slides = gsap.utils.toArray(".card-slide");
    let numSlides = slides.length;
    let progressPerItem = 1 / (numSlides - 1);
    let snapProgress = gsap.utils.snap(progressPerItem);

    let snapProgressDirectional = (value, direction) => {
        let snapped = snapProgress(value);

        return snapped - value < 0 === direction < 0
            ? snapped
            : snapProgress(direction < 0 ? value - progressPerItem : value + progressPerItem);
    };

    let slideWidth = 0;
    let totalWidth = 0;
    let slideAnimation;

    let animation = gsap.to(slides, {
        xPercent: "-=" + (numSlides - 1) * 100,
        duration: 1,
        ease: "none",
        paused: true,
    });

    let draggable = new Draggable(document.createElement("div"), {
        type: "x",
        trigger: ".slides-container",
        onPress() {
            gsap.killTweensOf(animation);
            this.startProgress = animation.progress();
        },
        onDrag() {
            let change = (draggable.startX - draggable.x) / totalWidth;

            if (change >= 0 && change <= 1) {
                animation.progress(draggable.startProgress + change);
            }
        },
        onRelease() {
            let progress = snapProgress(animation.progress() + -Math.sign(this.deltaX) * progressPerItem);

            if (progress >= 0 && progress <= 1) {
                gsap.to(animation, {
                    progress,
                    overwrite: true,
                });

                updateVisibility(progress);
            }
        },
    });

    function updateVisibility(progress) {
        switch (progress) {
            case 0: {
                prevButton.setAttribute("disabled", "true");
                nextButton.removeAttribute("disabled");

                break;
            }
            case 1: {
                prevButton.removeAttribute("disabled");
                nextButton.setAttribute("disabled", "true");

                break;
            }
            default: {
                prevButton.removeAttribute("disabled");
                nextButton.removeAttribute("disabled");
            }
        }
    }

    function animateSlides(direction) {
        let progress = snapProgress(animation.progress() + direction * progressPerItem);

        if (progress >= 0 && progress <= 1) {
            slideAnimation = gsap.to(animation, {
                progress,
                duration: slideDuration,
                overwrite: true,
            });

            updateVisibility(progress);
        }
    }

    function resize() {
        slideWidth = slides[0].offsetWidth;
        totalWidth = slideWidth * numSlides;
    }

    resize();
    updateVisibility(0);

    window.addEventListener("resize", resize);

    htmx.onLoad(function () {
        htmx.on(prevButton, "click", () => animateSlides(-1));
        htmx.on(nextButton, "click", () => animateSlides(1));
    });
</script>
