<div class="card jobs-card card-frame card-frame-light dark:card-frame-dark">
    <div class="relative flex items-center justify-center h-full w-full overflow-hidden">
        <div class="slides-container relative overflow-hidden flex flex-1 flex-col h-full w-full">
            <div class="slides-inner relative h-full w-full overflow-visible">
                {% for job in jobs %}
                <div class="slide">
                    <div class="flex w-full flex-row items-start gap-2">
                        <div class="flex flex-col">
                            <h2 class="text-xl md:text-3xl">{{job.company}}</h2>
                            <span class="text-gray-400 dark:text-gray-500">{{job.location}}</span>
                        </div>
                        <img alt="Avatar" class="company-logo" loading="lazy" src="{{job.company_logo}}" />
                    </div>
                    <div class="mt-2 flex flex-col gap-2 md:flex-row">
                        <p class="text-lg md:text-xl">{{job.position}}</p>
                        <div class="card-chip mb-2 text-lg text-stone-200 md:text-xl">
                            <span class="col-start-1 col-end-2 text-lg">{{job.start}}</span>
                            <apan> - </apan>
                            <span class="col-start-1 col-end-2 text-lg">{{job.end}}</span>
                        </div>
                    </div>
                    <p class="mt-3 text-xl text-gray-600 dark:text-gray-500 md:text-2xl">{{job.subtitle}}</p>
                </div>
                {% endfor %}
            </div>
            <div class="p-4 md:p-10 absolute bottom-0 right-0 z-10 flex flex-row items-end justify-end gap-2">
                <button id="prevButton" class="card-button" type="button" aria-label="Prev slide">
                    <svg class="h-7 w-7">
                        <use href="/assets/svg/sprite.svg#arrow-left" />
                    </svg>
                </button>
                <button id="nextButton" class="card-button" type="button" aria-label="Next slide">
                    <svg class="h-7 w-7">
                        <use href="/assets/svg/sprite.svg#arrow-right" />
                    </svg>
                </button>
            </div>
        </div>
        <ul class="squares card-frame card-frame-light dark:card-frame-dark m-1 transition">
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
            <li class="bg-stone-300 dark:bg-stone-900" />
        </ul>
    </div>
</div>

<script>
    gsap.registerPlugin(Draggable);
    gsap.set(".slide", {
        xPercent: (i) => i * 100,
    });

    let prevButton = htmx.find("#prevButton");
    let nextButton = htmx.find("#nextButton");

    let slideDelay = 1.5;
    let slideDuration = 0.3;
    let slides = gsap.utils.toArray(".slide");
    let numSlides = slides.length;
    let progressPerItem = 1 / (numSlides - 1);
    let snapProgress = gsap.utils.snap(progressPerItem);

    let snapProgressDirectional = (value, direction) => {
        let snapped = snapProgress(value);

        return snapped - value < 0 === direction < 0
            ? snapped
            : snapProgress(direction < 0 ? value - progressPerItem : value + progressPerItem);
    };

    let slideWidth = 0;
    let totalWidth = 0;
    let slideAnimation;

    let animation = gsap.to(slides, {
        xPercent: "-=" + (numSlides - 1) * 100,
        duration: 1,
        ease: "none",
        paused: true,
    });

    let draggable = new Draggable(document.createElement("div"), {
        type: "x",
        trigger: ".slides-container",
        onPress() {
            gsap.killTweensOf(animation);
            this.startProgress = animation.progress();
        },
        onDrag() {
            let change = (draggable.startX - draggable.x) / totalWidth;

            if (change >= 0 && change <= 1) {
                animation.progress(draggable.startProgress + change);
            }
        },
        onRelease() {
            let progress = snapProgress(animation.progress() + -Math.sign(this.deltaX) * progressPerItem);

            if (progress >= 0 && progress <= 1) {
                gsap.to(animation, {
                    progress,
                    overwrite: true,
                });

                updateVisibility(progress);
            }
        },
    });

    function updateVisibility(progress) {
        switch (progress) {
            case 0: {
                prevButton.setAttribute("disabled", "true");
                nextButton.removeAttribute("disabled");

                break;
            }
            case 1: {
                prevButton.removeAttribute("disabled");
                nextButton.setAttribute("disabled", "true");

                break;
            }
            default: {
                prevButton.removeAttribute("disabled");
                nextButton.removeAttribute("disabled");
            }
        }
    }

    function animateSlides(direction) {
        let progress = snapProgress(animation.progress() + direction * progressPerItem);

        if (progress >= 0 && progress <= 1) {
            slideAnimation = gsap.to(animation, {
                progress,
                duration: slideDuration,
                overwrite: true,
            });

            updateVisibility(progress);
        }
    }

    function resize() {
        slideWidth = slides[0].offsetWidth;
        totalWidth = slideWidth * numSlides;
    }

    resize();
    updateVisibility(0);

    window.addEventListener("resize", resize);

    htmx.onLoad(function () {
        htmx.on(prevButton, "click", () => animateSlides(-1));
        htmx.on(nextButton, "click", () => animateSlides(1));
    });
</script>
