{% extends "layouts/base.html" %}

<!-- prettier-ignore -->
{% block title %}{{ main.name }} | {{ main.profession }}{% endblock %}

{% block content %}

<section class="pages-error">
    <main class="pages-error__main">
        <div class="pages-error__container">
            <div class="pages-error__code">
                <h1 class="pages-error__code-text">{{ error.code }}</h1>
            </div>
            <div class="pages-error__message">
                <p class="pages-error__message-text">{{ error.message }}</p>
            </div>
        </div>
    </main>
</section>

{% endblock %}
