<!-- prettier-ignore -->
{% extends "layouts/base.html" %}

{% block title %}{{ main.name }} | {{ main.profession }}{% endblock %}

{% block content %}
<div class="mx-auto flex max-w-screen-lg grow flex-col px-6 w-full">
    <div class="flex grow flex-col gap-6 mt-8 w-full items-center justify-center">
        <iframe src="https://codesandbox.io/embed/p2x3k7?view=preview&module=%2Fsrc%2FAlpha%2Fsections%2FArea%2FChannel.tsx&hidenavigation=1"
            style="width:100%; height: 640px; border:0; border-radius: 4px; overflow:hidden;"
            title="reports-parser"
            allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
            sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
        ></iframe>
    </div>
</div>
{% endblock %}
