<!doctype html>
<html lang="en">
    <head>
        <link href="/assets/css/main.css" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png" />
        <link rel="manifest" href="assets/site.webmanifest" />
        <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5b21b6" />
        <meta name="msapplication-TileColor" content="#ffc40d" />
        <meta name="theme-color" content="#ffffff" />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <script src="/htmx.org/dist/htmx.min.js"></script>
        <script src="/htmx.org/dist/ext/alpine-morph.js"></script>
        <script defer src="/alpinejs/dist/cdn.min.js"></script>
        <script defer src="/@alpinejs/morph/dist/cdn.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "components/navbar.html" %} {% block content %}{% endblock %} {% include "components/footer.html" %}
    </body>
</html>
