<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />
        <link href="/assets/css/main.css" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
        <link rel="manifest" href="/assets/site.webmanifest" />
        <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5b21b6" />
        <meta name="msapplication-TileColor" content="#ffc40d" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta content="{{ main.profession }}" name="description" />
        <meta content="{{ main.author }}" name="author" />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <script src="/htmx.org/dist/htmx.min.js"></script>
        <script src="/htmx.org/dist/ext/alpine-morph.js"></script>
        <script src="/gsap/dist/gsap.min.js"></script>
        <script src="/gsap/dist/Draggable.min.js"></script>
        <script src="https://unpkg.com/htmx-ext-class-tools@2.0.1/class-tools.js"></script>
        <script defer src="/alpinejs/dist/cdn.min.js"></script>
        <script defer src="/@alpinejs/morph/dist/cdn.min.js"></script>
        <script>
            let html = document.documentElement;

            if (localStorage["dark-mode"] === "false") {
                html.setAttribute("data-theme", "light");
            } else if (localStorage["dark-mode"] === "true") {
                html.setAttribute("data-theme", "dark");
            }
        </script>
        <!-- prettier-ignore -->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- prettier-ignore -->
        {% include "components/navbar.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>
