@use "sass:math";

@use "@styles/abstracts" as *;

.pages-post {
	@include sizer(100%, auto);
	@include mb(auto);
	@include pb(3);
	@include px(3);

	display: grid;
	grid-template:
		[row1-start] "header" auto [row1-end]
		[row2-start] "sidebar" auto [row2-end]
		[row3-start] "article" 1fr [row3-end]
		/ auto;
	row-gap: rem(16px);
	min-height: calc(100% - rem($footer-height));
	padding-top: rem($navbar-height);

	@include adaptive(rem(36px));

	@include media-desktop {
		@include px(5);

		grid-template:
			[row1-start] "header sidebar" minmax(rem(68px), auto) [row1-end]
			[row2-start] "article article" 1fr [row2-end]
			/ 1fr auto;
	}

	&__header {
		@include py(2, 4);

		display: flex;
		flex-flow: column;
		grid-area: header;
		width: 100%;
		border-bottom: rem(1px) solid var(--post-border);
	}

	&__article {
		position: relative;
		display: flex;
		flex-direction: column;
		grid-area: article;
		width: auto;
		max-width: 100%;
	}

	&__estimation,
	&__date {
		color: var(--text-secondary);
	}

	&__date {
		@include mb(2);
	}

	&__date-label {
		@include sr-only;
	}

	&__sidebar {
		@include pt(2);
		@include justify-align-flex(flex-start, flex-end);

		flex-direction: column;
		grid-area: sidebar;
		border-bottom: none;

		@include media-desktop {
			border-bottom: rem(1px) solid var(--post-border);
		}
	}

	&__description {
		@include text-setting(sm);
		@include mt(2);
		@include text-overflow(ellipsis, false);

		height: 100%;
		max-height: rem(80px);
		color: var(--text-tertiary);
	}

	&__title {
		@include text-setting(xxl);
		@include mb(2);
		@include mt(2);

		font-weight: bold;
	}

	&__content-header {
		display: flex;
		flex-direction: column;
		gap: rem(16px);
		max-width: 100%;

		@include media-tablet {
			flex-direction: row;
		}
	}

	&__image {
		$base-width: 100%;
		$tablet-width: rem(240px);

		@include sizer($base-width, auto);
		@include my(2, 0);
		@include border-radius(1);

		min-width: $base-width;
		max-width: $base-width;
		overflow: hidden;

		@include media-tablet {
			@include sizer($tablet-width, auto);
			@include my(2, 4);

			min-width: $tablet-width;
			max-width: $tablet-width;
		}
	}

	&__controls {
		display: flex;
		flex-direction: column;
	}

	&__tags {
		@include my(2);
		@include sizer(100%, fit-content);
		@include p(3);
		@include border-radius(1);

		display: flex;
		gap: rem(8px);
		background-color: var(--background-secondary);

		@include media-tablet {
			@include sizer(fit-content);
		}
	}
}
