{% extends "layouts/base.tera" %}
{% import "ui-kit/index.tera" as ui_kit %}
{% block title %}{{ main.name }} | {{ main.profession }}{% endblock %}
{% block content %}
    <main class="pages-posts">
        <div class="pages-posts__header">
            {% include "components/breadcrumbs.tera" %}
            <h1 class="pages-posts__title">Latest notes</h1>
            <p class="pages-posts__subtitle">List of notes and projects</p>
        </div>
        <div class="pages-posts__sidebar">
            <p class="pages-posts__sidebar-title">Filter by tags:</p>
            <div class="pages-posts__sidebar-list">
                {% for tag in tags %}
                    {% set active = current_tag == tag %}
                    {% if active %}
                        {% set href = "/posts" %}
                    {% else %}
                        {% set href = "/posts?tag="~tag %}
                    {% endif %}
                    {{ ui_kit::link(active=active, text=tag, fill="full", href=href) }}
                {% endfor %}
            </div>
        </div>
        <section class="pages-posts__section">
            <ul class="pages-posts__section-list">
                {% block posts_list %}
                    {% for post in posts %}
                        {% set current_tag = current_tag %}
                        {% include "pages/posts/ui/posts-item.tera" %}
                    {% endfor %}
                {% endblock posts_list %}
            </ul>
        </section>
    </main>
    {% include "components/footer.tera" %}
{% endblock %}
