@charset "UTF-8";

@use "sass:map";
@use "sass:list";
@use "palette" as palette;

$theme-variants: (
    light: (
        accent: palette.get(purple, 950),
        text-primary: palette.get(stone, 900),
        text-secondary: palette.get(stone, 500),
        text-white: palette.get(stone, 100),
        background-primary: palette.get(stone, 200),
        focus: palette.get(blue, 900),
        cursor: "#000",
        card-border: palette.get(stone, 300),
        // Scrollbars
        scrollbar: palette.get(stone, 800),
        scrollbar-track: palette.get(stone, 600),
        scrollbar-thumb: palette.get(stone, 600),
        scrollbar-thumb-border: palette.get(stone, 800),
        // Icon link
        link-icon-secondary: palette.get(stone, 600),
        link-icon-secondary-hover: palette.get(stone, 800),
        // Icon button
        button-icon-secondary: palette.get(stone, 700),
        button-icon-secondary-disabled: palette.get(stone, 500),
        button-icon-secondary-hover: palette.get(stone, 900),
    ),
    dark: (
        accent: palette.get(purple, 950),
        text-primary: palette.get(stone, 200),
        text-secondary: palette.get(stone, 500),
        text-white: palette.get(stone, 100),
        background-primary: palette.get(stone, 900),
        focus: palette.get(blue, 600),
        cursor: "#FFF",
        card-border: palette.get(stone, 800),
        // Scrollbars
        scrollbar: palette.get(stone, 600),
        scrollbar-track: palette.get(stone, 600),
        scrollbar-thumb: palette.get(stone, 600),
        scrollbar-thumb-border: palette.get(stone, 800),
        // Icon link
        link-icon-secondary: palette.get(stone, 400),
        link-icon-secondary-hover: palette.get(stone, 200),
        // Icon button
        button-icon-secondary: palette.get(stone, 400),
        button-icon-secondary-disabled: palette.get(stone, 800),
        button-icon-secondary-hover: palette.get(stone, 200),
    ),
);

@each $name, $map in $theme-variants {
    html[data-theme="#{$name}"] {
        @each $key, $value in $map {
            --#{$key}: #{$value};
        }
    }
}
