<div class="theme-switch">
    <input
        type="checkbox"
        id="light-switch"
        name="light-switch"
        class="theme-switch__input"
        aria-label="Theme switch"
    />
    <label class="theme-switch__label" for="light-switch">
        <svg class="theme-switch__icon theme-switch__icon--light">
            <use href="/assets/svg/sprite.svg#sun" />
        </svg>
        <svg class="theme-switch__icon theme-switch__icon--dark">
            <use href="/assets/svg/sprite.svg#night" />
        </svg>
        <span class="theme-switch__text">light / dark</span>
    </label>
</div>

<script>
    const lightSwitch = htmx.find("#light-switch");

    lightSwitch.addEventListener("change", () => {
        const { checked } = lightSwitch;

        lightSwitch.checked = checked;
        localStorage["dark-mode"] = checked;

        if (lightSwitch.checked) {
            html.setAttribute("data-theme", "dark");
            localStorage.setItem("dark-mode", true);
        } else {
            html.setAttribute("data-theme", "light");
            localStorage.setItem("dark-mode", false);
        }
    });

    let themeValue = window.matchMedia("(prefers-color-scheme: dark)") ? "dark" : "light";

    if (localStorage.getItem("dark-mode") !== null) {
        themeValue = localStorage.getItem("dark-mode") === "true" ? "dark" : "light";
    }

    if (themeValue === "dark") {
        lightSwitch.checked = true;
        html.setAttribute("data-theme", "dark");
        localStorage.setItem("dark-mode", true);
    } else {
        html.setAttribute("data-theme", "light");
        localStorage.setItem("dark-mode", false);
    }
</script>
