@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-color: theme("colors.stone.600") theme("colors.stone.800");
        scrollbar-width: thin;
    }

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: theme("colors.stone.600");
        box-shadow: none;
    }

    *::-webkit-scrollbar-thumb {
        background-color: theme("colors.stone.600");
        border-radius: 20px;
        border: 3px solid theme("colors.stone.800");
    }

    body {
        @apply h-screen flex flex-col overflow-hidden;
        @apply bg-stone-200 dark:bg-stone-950 text-gray-800 dark:text-gray-100;

        @supports (-webkit-touch-callout: none) {
            height: -webkit-fill-available;
        }
    }

    html {
        font-family: "IBM Plex Mono", system-ui, monospace;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }
}
