@layer components {
    .card {
        @apply relative;
        @apply bg-stone-200 dark:bg-stone-950;
    }

    .card-link {
        @apply block max-w-sm p-2 shadow-none;
        @apply text-stone-600 dark:text-stone-500;
        @apply transition-all;
        @apply hover:text-stone-900;
        @apply dark:hover:text-stone-200;
    }

    .card-button {
        @apply block max-w-sm shadow-none;
        @apply text-stone-700 dark:text-stone-400;
        @apply bg-stone-200 bg-transparent;
        @apply enabled:hover:text-stone-900;
        @apply enabled:dark:hover:text-stone-200;
        @apply disabled:text-stone-300;
        @apply disabled:dark:text-stone-800;
    }

    .card-title {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation: Print 3s steps(32, end) forwards;
        margin: 0;
    }

    .card-cursor {
        animation: Blink 1s infinite;
        margin-left: 2px;
        color: theme("colors.white");
    }

    .card-arrow {
        @apply w-0 h-0 border-t-transparent;
        @apply border-t-[10px] border-b-transparent border-b-[10px] border-l-[10px];
        @apply sm:border-t-[12px] sm:border-b-transparent sm:border-b-[12px] sm:border-l-[12px] border-l-stone-400;
    }

    .card-chip {
        width: max-content;
        column-span: all;
        clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
        background: theme("colors.purple.950");
        padding: 0 16px;
    }

    .card-slide {
        @apply absolute overflow-hidden px-4 pt-36 pb-4 sm:pt-40 h-full w-full;
        @apply items-start justify-start z-10 flex flex-col;
    }

    .card-logo {
        @apply h-10 max-h-10;
        @apply justify-center bg-transparent ml-auto p-2 md:justify-start;
    }
}
