{% import "ui-kit/index.tera" as ui_kit %}
<footer class="footer">
    <div class="footer__content">
        <div>
            © <span x-data="{date: new Date()}" x-text="date.getFullYear()" />
        </div>
        <span>•</span>
        {{ ui_kit::link(text=main.author, href="/") }}
    </div>
</footer>
