<div class="mt-8 bg-stone-900">
    <div class="flex flex-col items-center gap-2 mx-auto max-w-screen-lg pb-8">
        <div class="mx-auto mt-8 w-full max-w-screen-lg px-6">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
                <div class="flex flex-col">
                    <h3 class="card-title-chip col-start-1 col-end-2 mb-2 text-2xl text-stone-200">
                        Social
                    </h3>
                    <section class="grid grid-cols-2">
                        <a class="footer-link" href="{{ social.email }}">
                            <svg class="h-6 w-6 ">
                                <use href="/assets/svg/sprite.svg#at-sign" />
                            </svg>
                            Email
                        </a>
                        <a class="footer-link" href="{{ social.linkedin }}">
                            <svg class="h-6 w-6 ">
                                <use href="/assets/svg/sprite.svg#linkedin" />
                            </svg>
                            Linkedin
                        </a>
                        <a class="footer-link" href="{{ social.twitter }}">
                            <svg class="h-6 w-6 ">
                                <use href="/assets/svg/sprite.svg#twitter" />
                            </svg>
                            Twitter
                        </a>
                        <a class="footer-link" href="{{ social.github }}">
                            <svg class="h-6 w-6 ">
                                <use href="/assets/svg/sprite.svg#github" />
                            </svg>
                            Github
                        </a>
                        <a class="footer-link" href="{{ social.telegram }}">
                            <svg class="h-6 w-6 ">
                                <use href="/assets/svg/sprite.svg#send" />
                            </svg>
                            Telegram
                        </a>
                    </section>
                </div>
                <div class="mt-2 flex flex-col"></div>
            </div>
            <div class="mt-8 flex w-full flex-row items-center justify-center">
                <p class="text-xl">
                    <span class="text-gray-500">Made by me ©</span>
                    <span
                        class="text-white"
                        hx-target="this"
                        hx-ext="alpine-morph"
                        hx-swap="morph"
                        x-data="{ year: new Date().getFullYear() }"
                        x-text="year"
                    >
                </p>
                <a
                    class="block rounded-full p-2 shadow-md text-gray-500 hover:text-white opacity-80 transition-colors"
                    href={{ main.project }}
                    rel="noreferrer"
                    target="_blank"
                >
                    <svg class="h-6 w-6 ">
                        <use href="/assets/svg/sprite.svg#github" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
