<header class="my-0 bg-stone-900 py-6 flex flex-col">
    <div class="mx-auto flex w-full max-w-screen-lg flex-col gap-2 px-6 md:flex-row md:items-center md:justify-between">
        <div class="flex items-center gap-x-2">
            <svg class="h-5 w-5 text-gray-200 sm:h-9 sm:w-9">
                <use href="/assets/svg/sprite.svg#terminal" />
            </svg>
            <div class="flex flex-row items-center">
                <div class="navbar-title flex items-center">
                    <h3 class="text-base text-gray-200 sm:text-2xl">Igor Ivanov</h3>
                    <span class="text-base text-gray-500 sm:text-2xl ml-1 mr-2">,</span>
                    <h3 class="text-base text-gray-500 sm:text-2xl">Frontend developer</h3>
                </div>
                <span class="navbar-title-cursor text-sm sm:text-2xl ml-1">|</span>
            </div>
        </div>
        <nav class="flex flex-row items-center justify-between">
            <ul class="flex gap-x-2 text-base font-medium sm:gap-x-8 sm:text-xl">
                <li class="text-gray-500 transition-colors hover:text-white">
                    <a class="flex flex-row gap-2" href="{resume}" rel="noreferrer" target="_blank">
                        <span>Resume</span>
                        <svg class="h-4 w-4">
                            <use href="/assets/svg/sprite.svg#external-link" />
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="flex items-center text-gray-500 transition-colors hover:text-white">
                {% block content %} {% include "elements/theme-switch.html" %} {% endblock %}
            </div>
        </nav>
    </div>
</header>
