<header class="navbar">
    <div class="navbar__box">{{ link_icon_macro::link_icon(variant="secondary", size="medium", icon="terminal", href="/") }}</div>
    <div class="navbar__box">
        {{ theme_switch_macro::theme_switch() }}
        {{ link_icon_macro::link_icon(variant="secondary", size="medium", icon="github", href=main.project, target="_blank") }}
    </div>
</header>
