{% import "ui-kit/index.tera" as ui_kit %}
<li class="pages-posts-item">
    <article class="pages-posts-item__article">
        <div class="pages-posts-item__header">
            <dl>
                <dt class="pages-posts-item__date-label">Published on</dt>
                <dd class="pages-posts-item__date">
                    <time datetime="{{ post.date }}">{{ post.date }}</time>
                </dd>
            </dl>
            <span class="pages-posts-item__estimation">{{ post.estimation.text }} read</span>
        </div>
        <div class="pages-posts-item__box">
            <div class="pages-posts-item__image">
                {{ ui_kit::lazy_background_image(id=post.metadata.title, img_url=post.metadata.image) }}
            </div>
            <div>
                <h2 class="pages-posts-item__title">
                    {{ ui_kit::link(text=post.metadata.title, href="/posts/" ~ post.metadata.file_name) }}
                </h2>
                <div class="pages-posts-item__tags">
                    {% for tag in post.metadata.tags %}
                        {% set active = current_tag == tag %}
                        {% set classes = "pages-posts-item__tag" %}
                        {% if active %}
                            {% set classes = classes ~ " " ~ classes ~ "--active" %}
                        {% endif %}
                        <span class="{{ classes }}">{{ tag }}</span>
                    {% endfor %}
                </div>
                <p class="pages-posts-item__description">{{ post.metadata.description }}</p>
            </div>
        </div>
    </article>
</li>
